<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Studying Computer Science in University of Tartu</title>
</head>
<body style="background-color:LightGray">
<!--</br>-->
<h1>Studying Computer Science in University of Tartu</h1>
<div class="h1">
    Studying <strong>datavitenskap (computer science)</strong> at University of Tartu can be
    an <strong>spennende (exciting)</strong>
    and challenging experience. The university offers a wide range of courses and programs
    in <strong>datavitenskap (data science)</strong>, including bachelor's and master's degrees
    in <strong>informatikk (informatics)</strong>,
    <strong>programvareutvikling (software development)</strong> and more.
    </br></br>
    One of the unique features of studying
    <strong><u>datavitenskap</u></strong>
    at University
    of Tartu is the opportunity to be part of an international student group.
    The <strong></strong> has a large number of international students from
    around the world, which provides a diverse and multicultural learning environment.
</div>
    </br></br>
<a href="./article2">
   <button>Next article</button>
</a>

</body>
</html>