<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>What is Datavitenskap?</title>
</head>
<body style="background-color:LightGray">
<!--</br>-->

<h1>What is <i>Datavitenskap</i>?</h1>

<div class="h1">
    <strong><u>Datavitenskap</u></strong> is a field of study that
    deals with the theory, design, and applications of computing
    technologies. It encompasses a wide range of topics, including
    algorithms, programming languages,
    <strong><u>programvareutvikling</u></strong>,
    artificial intelligence, machine learning, computer graphics,
    databases, and more.
    </br></br>
    Studying <strong><u>datavitenskap</u></strong> at a university can be a
    challenging and exciting experience, offering opportunities to
    explore cutting-edge technologies and work on innovative projects.
    Many universities offer degree programs in
    <strong><u>datavitenskap</u></strong> at the bachelor's, master's,
    and doctoral levels, providing students with the skills and
    knowledge they need to pursue careers in a variety of industries,
    from technology and finance to healthcare and education.
</div>
</br></br>
<a href="./article3">
    <button>Next article</button>
</a>
 </br></br>
<a href="./article1">
   <button>Previous article</button>
</a>
</body>
</html>